a:link {
    color: inherit;
    text-decoration: inherit;
}
a:active {
    color: inherit;
    text-decoration: inherit;
}
a:visited {
    color: inherit;
    text-decoration: inherit;
}
a:hover {
    color: inherit;
    text-decoration: inherit;
}

body {
    background-image: url(content/images/stars.gif);
    color: powderblue;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
}

#app {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#header-img {
    margin-right: 30px;
}

#header-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 6em;
    font-weight: bold;
    color: powderblue;
    text-shadow: 5px 5px midnightblue;
    font-style: italic;
    text-transform: uppercase;
}

footer {
    text-align: center;
    color: powderblue;
    margin-top: 20px;
}

footer > p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.main {
    color: midnightblue;
    background-color: powderblue;
    display: flex;
    width: 65%;
    margin: auto;
}

#main-content {
    padding: 20px;
}

.nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
    box-sizing: border-box;
    width: 100%;
    max-width: 200px;
    border-right: 2px solid midnightblue
}

.nav-links {
    margin-top: 0px;
    padding: 0px;
    list-style-type: none;
}

.nav-brand {
    margin-bottom: 8px;
}

.content {
    padding: 16px;
}